h1 {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #7379ef;
  text-decoration: underline;
}

.btn {
  cursor: pointer;
  background: lightcoral;
  color: #171717;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.btn.azul {
  background: lightblue;
  color: #171717;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
